<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>OPS {{ title }}</title>
    {% load static %}
<link href="{% static 'dashboard/img/favicon.ico' %}" type="image/x-icon" rel="shortcut icon">

<!--第三方插件样式-->
<!--<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="{% static 'dashboard/datatable/datatable.css' %}" rel="stylesheet">
<link href="{% static 'dashboard/metismenu/metismenu.min.css' %}" rel="stylesheet">
<link href="{% static 'dashboard/alert/sweet-alert.css' %}" rel="stylesheet">
<link href="{% static 'dashboard/bootstrap-multiselect.css' %}" rel="stylesheet">
<link href="{% static 'dashboard/validform.css' %}" rel="stylesheet">
<link href="{% static 'dashboard/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'dashboard/chosen/css/chosen.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'dashboard/chosen/css/chosen-bootstrap.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'dashboard/layui/css/layui.css' %}"  media="all">
<!--自定义样式文件 ＊重要＊-->
<link href="{% static 'dashboard/sb-admin-2.css' %}" rel="stylesheet">


<style type="text/css">
.navbar-header{
    width: 200px;
    text-align: center;
}
.navbar-brand{
    font-size: 20px;

}
.table{
    margin-top: 10px;
}

.hover{
    cursor: pointer;
}
.progress-reboot{
    position: absolute;
    height: 2px;
    top:0px;
    background: #337ab7;
    width: 0%;
    z-index: 2000;
}

#main-content .add-btn{
    position: absolute;
    z-index:100;
    width: 200px;
}
#wrapper{
    background: #2e3c4e;
}
.navbar-default .navbar-nav>li>a{
    color:white;
}
.navbar-default .navbar-nav>li>a:hover{
    background: #299d71;
}

.navbar-default .navbar-brand{
    color:white;
}

.navbar-default .navbar-brand:hover{
    color:white;
}
.select2-container{
    width: 100% !important;
}
button.detail{
    margin-left: 10px;
}
.sweet-alert h2{
    margin-top: 30px;
}
    
</style>
{% block css %} {% endblock%}
</head>

<body>
<div id="wrapper"> <!--页面全局样式-->

<!--页面头部导航 -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <a class="navbar-brand" href="/">ops平台</a>
    <ul class="nav navbar-nav">
	<li  class="dropdown" id="profile-messages" >
    <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="fa fa-user fa-fw"></i><span class="text">{{ user.username}}</span><b class="caret"></b></a>
	    <ul class="dropdown-menu">
		<li><a href="#"><i class="fa fa-user fa-fw"></i>个人中心</a></li>
		<li class="divider"></li>
		<li><a href="#"><i class="fa fa-mail-forward fa-fw"></i>退出登录</a></li>
	    </ul>
	</li>
	<li><a href="/logout/"><i class="fa fa-mail-forward fa-fw" ></i><span>退出登录</span></a></li>
    </ul>
    <ul class="nav navbar-nav pull-right">
        <li><a href="#" target="_blank">github</a></li>
        <li><a href="monitor.heshidai.com:3000" target="_blank">prometheus</a></li>
    </ul>
    <form class="navbar-form">
        <input type="text" class="form-control" placeholder="Search...">
    </form>
</nav><!--nav  end -->

{% block navbar %}
    {% include "dashboard/public/default_navbar.html" %}
{% endblock %}
<!--页面正文部分-->

<div id="page-wrapper">
    <div class="container">
        <div class="row">
            <div id='main-content' class="col-md-12" style='padding-top:20px;'>
                <div id="content-header">
                  <ul class="breadcrumb">
                    <li><i class="fa fa-home fa-fw"></i><a href="/">dashboard</a><span class="divider"></span></li>
                    {% block breadcrumb %}
                    {% endblock %}
                  </ul>
                  <hr>
                </div><!--end content-header-->
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>  <!--页面正文部分结束-->

</div><!--页面全局样式结束-->

<!--js 部分-->
    <script src="{% static 'dashboard/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/jquery/jquery.cookie.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'dashboard/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dashboard/chosen/chosen.jquery.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'dashboard/datatable/datatable.js' %}"></script>
    <script src="{% static 'dashboard/metismenu/metismenu.min.js' %}"></script>
    <script src="{% static 'dashboard/validform.js' %}"></script>
    <script src="{% static 'dashboard/bootstrap-multiselect.js' %}"></script>
    <script src="{% static 'dashboard/alert/sweet-alert.min.js' %}"></script>
    <script src="{% static 'dashboard/parsley/parsley.min.js' %}"></script>
    <script src="{% static 'dashboard/js/opsweb.js' %}"></script>
    <script src="{% static 'dashboard/layui/layui.js' %}" charset="utf-8"></script>


    <script>
        function apply_menu(obj){
            obj.parent('li').addClass("active").parent('ul').addClass('in').attr("aria-expanded","true").siblings('a').attr("aria-expanded","true").parent("li").addClass("active")
        }

        $(function(){
            $("#side-menu").metisMenu();
            /*
            var current_menu_id = $.cookie('current_menu_id');
            if (current_menu_id != "undefined"){
                console.log(current_menu_id);
                apply_menu($("#"+current_menu_id))
            }


            $(".menu-link").click(function(){
                console.log($(this).attr('id'))
                $.cookie('current_menu_id', $(this).attr('id'));
                swal("", "", "success")
            })
            */
        })
    </script>
    {% block js %}

    {% endblock %}


</body>

</html>
