<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>菜鸟教程(runoob.com)</title>
<style type="text/css">
.democlass{
	color:red;
}
</style>
</head>
<body>
<div id="div1">
</div>
<button onclick="addp()">加</button>

<script>
    function addp() {
        var para = document.createElement("a");
        var node = document.createTextNode("这是一个文本");
        var att=document.createAttribute("href");
        att.value="http://www.baidu.com";
        para.appendChild(node);
        para.setAttribute(att);
        var element = document.getElementById("div1");
        element.appendChild(para);
    }
</script>


</body>
</html>