{% extends "dashboard/public/layout.html" %}

{% block body %}
<form class="form-horizontal" method="post">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-3">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email" value="{{ user_obj.email }}" disabled>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">部门</label>
    <div class="col-sm-3" name="test", value="ccccccc">
      <select class="form-control" name="department">
        <!--写了name 才有返回值-->
          <option value="0">请选择部门</option>
          {% for i in departments %}
            print (i)
            <option value= {{ i.id }} {% if i.id == user_obj.profile.department.id %}selected {% endif %}>{{ i.name }}</option>
          {% endfor %}ß
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="hidden" name="user" value={{ user_obj.id }}>
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
</form>
{% endblock %}

{% block js %}
    <script>
        console.log("index view")
    </script>
{% endblock %}