{% extends "dashboard/public/layout.html" %}

{% block body %}
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>userID</th>
        <th>username</th>
        <th>userGroup</th>
        <th>status</th>
        <th>phone</th>
        <th>职位</th>
        <th>Department</th>
        <th>email</th>
    </tr>

{% for i in page_obj.object_list %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.id }}</td>
    <td>{{ i.username }}</td>
    <td>
        {% for g in i.groups.all %}
        {{ g.name }}&#12288;
        {% endfor %}
    </td>
    <td class="user_status">
        {% if i.is_active %}
        <span class="glyphicon glyphicon-ok-circle text-success"></span>正常
        {% else %}
        <span class="glyphicon glyphicon-warning-sign text-warning"></span>禁止
        {% endif %}
    </td>
    <td>{{  i.profile.phone }}</td>
    <td>{{  i.profile.title }}</td>
    <td>{{  i.profile.department.name|default_if_none:'no department'}}</td>
    <td>{{ i.email }}</td>
    <td>
        <div class="btn-group">
            <div class="btn-group">
                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false">
                    修改
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/user/modp/?user={{ i.id }}">部门</a></li>

                    <!--{% if perms.dashborad.change_department %}-->
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/user/modp/?user={{ i.id }}">部门</a></li>
                    <!--{% endif %}-->
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/user/mp/?user={{ i.id }}">手机号</a></li>
                            <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#" data='{"uid": "{{ user.id }}"}' class="user_to_group">Add Group</a></li>-->
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data='{"uid": "{{ i.id }}"}' class="user_to_group">添加指定组</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                </ul>
            </div>
            {% if i.is_active %}
                <button type="button" class="btn btn-sm btn-warning modify_user_status" status="true" data="{{ i.id }}"> disalbe</button>
            {% else %}
                <button type="button" class="btn btn-sm modify_user_status btn-info" status="false" data="{{ i.id }}">enable</button>
            {% endif %}
        </div>
            </td>
</tr>
{% endfor %}
</table>
    <div class="modal fade" id="user_to_group_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 id="user_to_group_modal_title"></h4>
                </div>
                <div class="modal-body form-inline col-xs-6">
                    <select class="form-control" id="all_user_group">
                    </select>
                    <button class="btn btn-primary" id="user_to_group_btn">提交</button>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-default" data-dismiss="modal" aria-hidden="true" type="button" value="取消">
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js%}
<script>
    function change_status(obj, status){
        if(status=='true'){
            obj.html(' <span class="glyphicon glyphicon-ok-circle text-success"></span>正常')
        }else{
            obj.html('<span class="glyphicon glyphicon-warning-sign text-warning"></span>禁止')
        }
    }

    function modify_status(user_id){
        console.log(user_id)
        $.post('/user/modify/', {'user_id': user_id}, function(res){
        console.log(res)
        if(res.status ==0){
        console.log(res)
        }else{
         swal({
            title: res.errmsg,
            type: "error",
            confirmButtonText: "知道了"
            });
        }
        })
    }
    $(function(){
    $('.modify_user_status').click(function(){
    var click_obj = $(this)
    var status = click_obj.attr('status')
    if (status == 'true'){
        console.log(status)
        click_obj.removeClass('btn-warning').addClass('btn-info').attr('status', 'false').text(' enable');
        }else{
        click_obj.removeClass('btn-info').addClass('btn-warning').attr('status', 'true').text('disalbe');
        }
    change_status(click_obj.parents('td').siblings('.user_status'), status)
    modify_status(click_obj.attr('data'))

    })
        /*
        将用户添加指定组
         */
        var uid;
        var user_to_group_modal= $('#user_to_group_modal')
        var all_user_group = $('#all_user_group')
        $('.user_to_group').click(function () {
            user_to_group_modal.modal('show')
            var data = JSON.parse($(this).attr('data'));
            console.log(data)
            uid = data.uid
            console.log(uid)
            $.get('/group',{ 'uid': uid }, function (res) {
                var html = '<option value="0">请选择用户</option>'
                $.each(res, function (n, obj) {
                    html+= '<option value="'+obj.pk+'">'+obj.fields.name+'</option>>'
                })
                all_user_group.html(html)
            })
            return false;
        })
        // 执行用户添加到用户组
        $('#user_to_group_btn').click(function () {
            user_to_group_modal.modal('hide')
            console.log(all_user_group.val())
            gid = all_user_group.val()
            var url = '/group/usergroup/';
            $.post(url,{'uid': uid, 'gid':gid }, function (res) {
                console.log(res)
                if (res.status == 0 ){
                            setTimeout(function () {
                                window.location.reload()
                            },10)
                    }else{
                        console.log(res.msg)
                        swal('操作失败', res.msg, 'error')
                    }
            })
        })
    })
</script>
{% endblock %}
