<div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">控制台</a>
          </li>
          <li class="breadcrumb-item">
            <a onclick="applications()" href="javascript:;">应用</a>
          </li>
          <li class="breadcrumb-item active">应用详细</li>
        </ol>
</div>
<div class="container-fluid">
   <div class="card">
         <h5 class="card-header">服务</h5>
      <div class="card-body">
          <div class="row">
              <div class='col-sm'>
          <p class="card-text">名称：{{ service.metadata.name }}</p>
        </div>
          </div>
          <div class="row">
                <div class='col-sm'>
                <p class="card-text">创建时间：{{ service.metadata.creation_timestamp|date:"Y-m-d H:i:s" }}</p>
                </div>
        </div>
          <div class="row">
          <div class='col-sm'>
          <p class="card-text">命名空间：{{ service.metadata.namespace }}</p>
            </div>
          </div>
          <div class="row">
          <div class='col-sm'>
                <p class="card-text">标签：
                    {% for key, value in service.metadata.labels.items %}
                    {{ key }}:{{ value }}
                    {% endfor %}
                </p>
           </div>
         </div>
          <div class="row">
                <div class='col-sm'>
                    {% for key,value in service.spec.selector.items %}
                <p class="card-text">容器选择：{{ key }}:{{ value }}</p>
                    {% endfor %}
                </div>
          </div>
        <div class="row">
                <div class='col-sm'>
                <p class="card-text">集群IP：{{ service.spec.cluster_ip }}</p>
                </div>
        </div>
       <div class="row">
                <div class='col-sm'>
                <p class="card-text">负载均衡IP：{{ service.spec.load_balancer_ip }}</p>
                </div>
       </div>
        <div class="row">
                <div class='col-sm'>
                <p class="card-text">类型：{{ service.spec.type }}</p>
                </div>
            </div>
          <div class="row">
                <div class='col-sm'>
                <p class="card-text">端口：<br>
                    {% for port in service.spec.ports %}
                        &nbsp;&nbsp;&nbsp;&nbsp;<b>{{ port.port }}:</b><br>
                        {% if port.name %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名称：{{ port.name }}<br>
                        {% endif %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;协议：{{ port.protocol }}<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目标端口：{{ port.target_port }}<br>
                        {% if port.node_port %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;节点端口：{{ port.node_port }}
                        {% endif %}
                    {%  endfor %}
                </p>
                </div>
        </div>
      {% for port in service.spec.ports %}
          {%  if port.node_port %}
          <div class="row">
                <div class='col-sm'>
                <p class="card-text">地址：<a href="http://192.168.254.194:{{ service.spec.ports.0.node_port }}">http://192.168.254.194:{{ service.spec.ports.0.node_port }}</a></p>
                </div>
            </div>
          {% endif %}
      {% endfor %}
      </div>
{# 部署#}
      <h5 class="card-header">部署</h5>
      <div class="card-body">
          <div class="row">
              <div class='col-sm'>
          <p class="card-text">名称：{{ deployment.metadata.name }}</p>
        </div>
          </div>
      <div class="row">
          <div class='col-sm'>
          <p class="card-text">类型：{{ deployment.kind }}</p>
          </div>
      </div>
      <div class="row">
          <div class='col-sm'>
          <p class="card-text">命名空间：{{ deployment.metadata.namespace }}</p>
            </div>
        </div>
        <div class="row">
            <div class='col-sm'>
                <p class="card-text">标签：
                    {% for key, value in deployment.metadata.labels.items %}
                     {{ key }}:{{ value }}&nbsp
                    {% endfor %}
                </p>
                </div>
        </div>
            <div class="row">
                <div class='col-sm'>
                <p class="card-text">创建时间：{{ deployment.metadata.creation_timestamp|date:"Y-m-d H:i:s" }}</p>
                </div>
            </div>
            <div class="row">
                <div class='col-sm'>
                <p class="card-text">状态：{{ deployment.status.ready_replicas }}/{{ deployment.status.replicas }}</p>
            </div>
        </div>
        </div>
<!-- ///////////////////////////////////////////////////////////////////////////// -->
      <h5 class="card-header">容器组</h5>
      <div class="card-body">
        <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th><input type="checkbox"> 名称</th>
              <th>命名空间</th>
              <th>主机</th>
              <th>IP</th>
              <th>就绪</th>
              <th>状态</th>
              <th>重启次数</th>
              <th>开始时间</th>
            </tr>
          </thead>
          <tbody>
            {% for pod in podlist %}
            <tr>
              <td>
                  <input type="checkbox" data-name={{ pod.metadata.name }}>
                  <a href="javascript:;" onclick="podDetail(this)" data-name={{ pod.metadata.name }} data-namespace={{ pod.metadata.namespace }}>{{ pod.metadata.name }}
                  </a>
              </td>
              <td>{{ pod.metadata.namespace}}</td>
              <td>{{ pod.status.host_ip }}</td>
              <td>{{ pod.status.pod_ip }}</td>
                {% with num=1 %}
              <td>{{ num }}/{{ pod.status.container_statuses|length }}</td>
              {% endwith %}
                <td>{{ pod.status.phase }}</td>
              <td>{{ pod.status.container_statuses.0.restart_count }}</td>
              <td>
                  <div class="dropdown">
                      {{ pod.status.start_time|date:"Y-m-d H:i:s"  }}
                    <button class="dropdown-more ion-android-more-vertical" align="right" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                      <li class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button data-name="{{ pod.metadata.name }}" data-namespace="{{ pod.metadata.namespace}}" class="dropdown-item">查看日志</button>
                            <button data-name="{{ pod.metadata.name }}" data-namespace="{{ pod.metadata.namespace}}" class="dropdown-item pod-delete-dropdown1">删除</button>
                      </li>
                        </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      </div>
   </div>
</div>