{% extends "dashboard/public/layout.html" %}

{% block body %}

<h3>应用详细</h3>
{{ applyInfo }}
<div class="container">
   <div class="row">
      <div class="col-xs-6">
          <b>应用名称：</b> <td>{{ deployName }}</td>
      </div>
      <div class="col-xs-6">
          <b>创建时间：</b> <td>{{ createDate }}</td>
      </div>
      <div class="col-xs-6">
          <b>状态：</b> <td>{{ deployStatus }}</td>
      </div>
      <div class="col-xs-6">
          <b>访问地址：</b> <a href={{ accessAddress }}> {{ accessAddress }} </a>
      </div>
      <div class="col-xs-6">
          <b>镜像名称：</b> <td>{{ imageName }}</td>
      </div>
   </div>
</div>
<div class="container">
    <div class="row">
        <a href="/dashboard/deploylist">返回</a>
    </div>

</div>






{% endblock %}