<div id="modifyDeploymentBox1">
    <form id="modifyDeploymentForm1" action="/dashboard/deploy/image/modify/" method="post" autocomplete="on">
        应用名称： <input id="app-2" type="text"  name="applyName" required>

    <br>
            镜像名称： <input id="images-2" list="imagenames" name="imageName" placeholder="镜像名称" autocomplete="off" size="35" required><br>
    <datalist id="imagenames">


	</datalist>

    <script>

    </script>
    版本：  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input id="tag-2" list="tag-list" name="imageTag" placeholder="镜像版本">
    <datalist id="tag-list">

    </datalist><br>

    服务端口： <input id="containerPort-2" type="number" name="servicePort" placeholder="服务端口" min="1" max="65535"><br>
        <input type="submit" value="提交">
        <input id="cancel-modify-image-2" type="button" value="取消">
    </form>
</div>

<style>
#modifyDeploymentBox1{
    display: none;
    background-color: white;
    left: 30%;
    margin: 2cm 4cm 3cm 4cm;
    position: fixed;
    top: 40%;
    width: 500px;
    height: 300px;
    z-index: 25;
}
</style>

<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
</script>

<script>
    //修改镜像
    $(function () {
        $(".modiyImage1").click(function () {
            $("#modifyDeploymentBox1").show();
           var deployName=$(this).attr('name');
           $("#app-2").val(deployName);
           $.post("/dashboard/deploy/info/",{
               deploymentName:deployName
           },function (data) {
               $("#images-2").val(data.imageName);
               $("#tag-2").val(data.imageTag);
               $("#containerPort-2").val(data.servicePort);
               $("#containerPort-2").attr("disabled","1")
           });

        })
    });
    //修改部署容器端口
    $(function () {
        $(".modiyPort1").click(function () {
            $("#modifyDeploymentBox1").show();
            var deployName=$(this).attr('name');
            $("#app-2").val(deployName);
            $.post("/dashboard/deploy/info/",{
                deploymentName:deployName
            },function (data) {
                $("#images-2").val(data.imageName);
                $("#images-2").attr("disabled","1");
                $("#tag-2").val(data.imageTag);
                $("#tag-2").attr("disabled","1");
                $("#containerPort-2").val(data.servicePort);
            })
        })
    });
    //取消修改表单
    $("#cancel-modify-image-2").click(function () {
       $("#modifyDeploymentBox1").hide()
    })

</script>