{% extends 'dashboard/layout.html' %}
{% block breadcrumb %}
<div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">控制台</a>
          </li>
            <li class="breadcrumb-item">
            <a href="/pods/">节点</a>
          </li>
          <li class="breadcrumb-item active">节点详细</li>
        </ol>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid">
   <div class="card">
      <h5 class="card-header">节点</h5>
      <div class="card-body">
          <div class="row">
              <div class='col-sm'>
          <p class="card-text">名称：{{ node.metadata.name }}</p>
        </div>
          </div>
          <div class="row">
          <div class='col-sm'>
          <p class="card-text">注解：
              {% for key,value in node.metadata.annotations.items %}
              {{ key }}：{{ value }}<br>
          {% endfor %}
          </p>

            </div>
          </div>
          <div class="row">
          <div class='col-sm'>
                <p class="card-text">标签：
                    {% for key, value in node.metadata.labels.items %}
                    {{ key }}:{{ value }}
                    {% endfor %}
                </p>
          </div>
        </div>
        <div class="row">
                <div class='col-sm'>
                <p class="card-text">创建时间：{{ node.metadata.creation_timestamp|date:"Y-m-d H:i:s" }}</p>
                </div>
            </div>
        <div class="row">
                <div class='col-sm'>
                <p class="card-text">容器网络：{{ node.spec.pod_cidr }}</p>
                </div>
            </div>
        <div class="row">
                <div class='col-sm'>
                <p class="card-text">规格：{{ node.status.capacity.cpu }}U /{% with memory=node.status.capacity.memory|cut:'Ki'%}
                        {% widthratio memory 1048576 1%}GB
                    {% endwith  %}
                </p>
                </div>
        </div>
          <div class="row">
                <div class='col-sm'>
                <p class="card-text">操作系统：{{ node.status.node_info.os_image }}</p>
                </div>
        </div>
                <div class="row">
                <div class='col-sm'>
                <p class="card-text">kubernetes版本：{{ node.status.node_info.kubelet_version }}</p>
                </div>
            </div>
      </div>

<!-- ///////////////////////////////////////////////////////////////////////////// -->
      <h5 class="card-header">镜像</h5>
      <div class="card-body">
   <div class="table-responsive">
        <table class="table" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>名称</th>
              <th>容量</th>
            </tr>
          </thead>
          <tbody>
            {% for image in  node.status.images %}
            <tr>
              <td>
                  <a href="/pod/detail?name={{ image.names.1 }}">
                      {% for name in image.names%}
                          {% with num=name|length %}
                          {% if num > 72 %}
                           {% else %}
                            {{ name }}
                          {% endif %}
                          {% endwith %}
                          {% endfor %}
              </a>
              </td>
              <td>
                  <div class="dropdown">
                      {% widthratio image.size_bytes 1048576 1%}MB
                    <button class="dropdown-more ion-android-more-vertical" align="right" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                      <li class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button data-name="{{ image.names.1 }}" class="dropdown-item">查看日志</button>
                            <button data-name="{{ image.names.1 }}" class="dropdown-item pod-delete-dropdown1">删除</button>
                      </li>
                  </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
   </div>
</div>
</div>
</div>
{% endblock %}