{% extends 'dashboard/layout.html' %}
{% block breadcrumb %}
<div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">控制台</a>
          </li>
          <li class="breadcrumb-item active">容器组</li>
        </ol>
</div>
{% endblock %}
{% block content %}
<div class="card mb-3">
{#    <div class="card-header">#}
{#      <i class="fa fa-table"></i><button class="btn-secondary">执行</button></div>#}

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th><input type="checkbox"> 名称</th>
              <th>命名空间</th>
              <th>主机</th>
              <th>IP</th>
              <th>就绪</th>
              <th>状态</th>
              <th>重启次数</th>
              <th>开始时间</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
                <th><input type="checkbox"> 名称</th>
                <th>命名空间</th>
                <th>主机</th>
                <th>IP</th>
                <th>就绪</th>
                <th>状态</th>
                <th>重启次数</th>
                <th>开始时间</th>
            </tr>
          </tfoot>
          <tbody>
            {% for pod in pods %}
            <tr>
              <td><input type="checkbox" data-name={{ pod.metadata.name }}><a href="/pod/detail?name={{ pod.metadata.name }}&namespace={{ pod.metadata.namespace }}">{{ pod.metadata.name }}</a></td>
              <td>{{ pod.metadata.namespace}}</td>
              <td>{{ pod.status.host_ip }}</td>
              <td>{{ pod.status.pod_ip }}</td>
                {% with num=1 %}
              <td>{{ num }}/{{ pod.status.container_statuses|length }}</td>
              {% endwith %}
                <td>{{ pod.status.phase }}</td>
              <td>{{ pod.status.container_statuses.0.restart_count }}</td>
              <td>
                  <div class="dropdown">
                      {{ pod.status.start_time|date:"Y-m-d H:i:s"  }}
                    <button class="dropdown-more ion-android-more-vertical" align="right" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                      <li class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button data-name="{{ pod.metadata.name }}" data-namespace="{{ pod.metadata.namespace}}" class="dropdown-item">查看日志</button>
                            <button data-name="{{ pod.metadata.name }}" data-namespace="{{ pod.metadata.namespace}}" class="dropdown-item pod-delete-dropdown1">删除</button>
                      </li>
                        </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">更新：{% now "Y-m-d H:i:s l" %}</div>
  </div>
  {% endblock %}
  {% block form %}
              <div id="pod-delete-form1" class="jumbotron mx-auto mt-5 w-50 position-fixed fixed-top" style="display: none">
                  <div class="card-body">
                      <h5 class="card-title">删除&nbsp;容器组</h5>
                      <p class="card-text">确定删除命名空间中的容器组吗？</p><br>
                      <div class="float-right w-25">
                      <button id="pod-delete-cancel1" class="btn" >取消</button>&nbsp; &nbsp; &nbsp; &nbsp;  <button id="pod-delete-confirm1" class="btn">确定</button>
                          </div>
                      </div>
                  </div>
    {% endblock %}