{% extends 'dashboard/layout.html' %}
{% block deployForm %}
        <div class="card table-form mx-auto mt-5">
          <div class="card-header">部署</div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">名称</label>
                <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">镜像</label>
                <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Password">
              </div>
              <div class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox">记住密码</label>
                </div>
              </div>
              <a class="btn btn-primary btn-block" href="index.html">登陆</a>
            </form>
            <div class="text-center">
              <a class="d-block small mt-3" href="register.html">注册一个账户</a>
              <a class="d-block small" href="forgot-password.html">忘记密码?</a>
            </div>
          </div>
          </div>

{% endblock %}