{% extends "dashboard/public/layout.html" %}

{% block body %}
<h3> NameSpaces</h3>
<table class="table table-hover">
     <tr>
        <caption>
            <button id ='add_dp' class="btn-primary" type="button">添加Deployment</button>
        </caption>
    </tr>

    <tr>
        <th>#</th>
        <th>Deployment Nmae</th>
        <th>NameSpace</th>
        <th>DESIRED</th>
        <th>CURRENT</th>
        <th>操作</th>
    </tr>

{% for i in deploys %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td class={{ i.metadata.name }}>{{ i.metadata.name }}</td>
    <td>{{ i.metadata.namespace }}</td>
    <td>{{ i.status.available_replicas }}</td>
    <td>{{ i.status.replicas }}</td>
    <td class="user_status">
        <div class="btn-group">
                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false">
                    修改
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    {% include "dashboard/kubernetes/dropdownMenulModifyDploy.html" %}

                    <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="/user/modp/?user={{ i.id }}">修改RC</a></li>-->
                       <!--<li>-->
                         <!--<a id="modal_button_{{ i.metadata.name }}" class="red" href="#modal_form"-->
                            <!--data-toggle="modal" rel="{{ i.metadata.name }}" content="{{ i.metadata.namespace }}"-->
                         <!--title="删除信息">-->
                            <!--<span class="red">-->
                               <!--<i class="ace-icon fa fa-trash-o bigger-120"></i>-->
                            <!--</span>-->
                            <!--</a>-->
                        <!--</li>-->

                </ul>
            </div>
        </td>
</tr>
{% endfor %}
</table>
<div class="modal fade" id="create_group" aria-hidden='true'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class='close' data-dismiss="modal">x</button>
                <h4>new namespaces</h4>
            </div>
                {% include 'dashboard/add_dp.html' %}
        </div>
    </div>
</div>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
</script>
 <div class="modal fade" id="modal_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
         <h4 class="modal-title" id="myModalLabel">删除任务</h4>
       </div>
         <!--Form的id为myForm-->
         <form id="myForm" method="POST" >{% csrf_token %}
       <div class="modal-body">
        <!--存放content内容-->
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
         <button type="submit" class="btn btn-primary" >确认</button>
       </div>
        </form>
     </div>
   </div>
 </div>


<!--修改DP 模态框-->
<div class="modal fade" id="chg_rc" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% include "dashboard/kubernetes/modifyDployBox.html" %}


<!--删除信息按钮，为每个删除按钮设置一个id，并将content和title传递给modal-->


{% endblock %}
{% block js%}

<script>
    $(function(){
        $("#add_dp").click(function () {
            $('#create_group').show();
    })})
</script>
{% endblock %}
