{% extends 'dashboard/layout.html' %}
{% block content %}
{#	<i class="icon ion-star"></i>#}
{#	<i class = "icon ion-happy-outline"></i>#}
{#	<i class = "icon ion-ios-analytics"></i>#}
{#	<i class = "icon ion-ios-eye"></i>#}
{#{{ body.0 }}#}
{#    <h1>test</h1>#}
{#    {% with body as b %}#}
{#        {% for i in b %}#}
{#        {%  if i == 1 %}#}
{#            {{ i|add:"5" }}#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#    {% endwith %}#}
    <script>
    window.location.assign("http://www.w3cschool.cc")
    </script>
{% endblock %}